@charset "UTF-8";

#main-slide {
  margin: 0;
  padding: 0;
  background-color: #333333;
  margin-bottom: 100px;
}

.wrapper-slide {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-slide {
  /* width: calc(100% - 100px); */
  width: 80%;
  max-width: 1000px;
}

.slide {
  background-size: cover;
}

.slide>img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  padding: 0 10px;
  object-fit: cover;
}

/* arrow */
.slick-arrow {
  z-index: 2;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #3498db;
  border-right: 3px solid #3498db;
  opacity: 0.8;
}

.slick-arrow::before {
  content: "";
}

.slick-prev {
  left: 30px;
  transform: rotate(-135deg);
}

.slick-next {
  right: 30px;
  transform: rotate(45deg);
}

/* dots */
.slick-dots {
  bottom: -25px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button::before {
  width: 12px;
  height: 12px;
}

.slick-dots li {
  margin: 0 7px;
}

.slick-dots li button {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 100%;
}

.slick-dots li.slick-active button {
  opacity: 0.4;
}

.slick-dots li button::before {
  content: "";
}